:root {
  /* --brand: #f40000; */
  --brand: #01b5fb;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

a {
  color: var(--body);
  text-decoration: none;
}

a:hover {
  color: var(--brand);
  text-decoration: none;
}

.text-brand{
  color: var(--brand);
}

.background-color{
  background-color: var(--brand);
}

.btn-brand{
  background-color: var(--brand);
  color: white;
}

.btn-brand:hover{
  background-color: white;
  color: var(--brand);
  border: 1px solid var(--brand);
}

.fw-medium {
  font-weight: 500;
}

/* Topbar */
.topbar .icons a{
  background-color: var(--brand);
  color: black;
  border: 1px solid var(--brand);
}

.topbar .icons a:hover{
  color: var(--brand);
  background-color: white;
  border: 1px solid white;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/* Float Icons */
.float {
position:fixed;
width:60px;
height:60px;
bottom:110px;
left:20px;
background-color:#37b6ff;
color:#FFF;
border-radius:50px;
text-align:center;
  font-size:30px;
box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float-2 {
position:fixed;
width:60px;
height:60px;
bottom:40px;
left:20px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
  font-size:30px;
box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float {
margin-top:16px;
}

.float:hover {
  color: #37b6ff;
  background-color: white;
  border: 1px solid #37b6ff;
}

.float-2:hover {
  color: #25d366;
  background-color: white;
  border: 1px solid #25d366;
}

/*** Footer ***/
.footer {
  /* background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url(../img/footer.jpg) center center no-repeat; */
  background-size: cover;
}

.footer{
  /* background-color: white; */
  background-color: black;
}

.footer a{
  text-decoration: none;
}

.footer-head{
  color: var(--brand);
}

.footer-color{
  color: white;
}

.footer-hr{
  color: white;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: .3s;
  background-color: var(--brand);
  border: 1px solid var(--brand);
}

.footer .btn.btn-social:hover {
  color: var(--brand);
  background-color: white;
  border: 1px solid var(--brand);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  /* color: black; */
  color: white;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--brand);
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .copyright a:hover {
  color: var(--brand);
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3.5rem;
  /* background-color: var(--brand);
  border: 15px solid var(--brand); */
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }
  
  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

/*** Navbar ***/
.sticky-top {
  top: -100px;
  transition: .5s;
}

.navbar .navbar-nav .nav-link {
  margin-right: 35px;
  padding: 25px 0;
  color: var(--dark);
  font-size: 18px;
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--brand);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link  {
      margin-right: 0;
      padding: 10px 0;
  }

  .navbar .navbar-nav {
      margin-top: 15px;
      border-top: 1px solid #EEEEEE;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      border: none;
      margin-top: 0;
      top: 150%;
      opacity: 0;
      visibility: hidden;
      transition: .5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
      top: 100%;
      visibility: visible;
      transition: .5s;
      opacity: 1;
  }
}

.navbar .get-quote{
  background-color: var(--brand);
  color: white;
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--brand);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--brand);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

/* .ff-secondary {
  font-family: 'Pacifico', cursive;
} */

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  background-color: #f1f8ff;
}

.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: var(--brand);
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: var(--brand);
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
  color: var(--brand);
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*** Features ***/
.feature-row {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.feature-item {
  border-color: rgba(0, 0, 0, .03) !important;
}

.about-image {
	height:300px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.color-bg {
	background: var(--brand);
}

.color-bg a {
    color: #FFE800;
}
.color-bg h6, .color-bg p {
    color: white;
}
.color-bg h6::after{
	border-color: #fff;
}
.color-bg .weight-outline-btn {
    color: white;
    border-color: white;
}
.color-bg .weight-outline-btn:hover {
  background: #FFF;
  color: #E04343;
  border-color: rgba(0, 0, 0, 0);
}
.about-text {
	padding:20px 50px 25px 50px;
}
.about-text h1 {
	text-transform:uppercase;
	font-size:24px;
	color: #8C8C8C;
}
.color-bg h1.arrow span {
    color: #FFE800;
}
.color-bg h1.arrow {
    color: #FFF;
}
.nopadding {
	padding:0;
}

/*******************************/
/********** About CSS **********/
/*******************************/
.topabout {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.topabout .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.topabout .topabout-img {
  position: relative;
}

.topabout .topabout-img img {
  position: relative;
  width: 100%;
  border-radius: 15px;
}

.topabout .btn-play {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.topabout .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #fbaf32;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.topabout .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #fbaf32;
  border-radius: 50%;
  transition: all 200ms;
}

.topabout .btn-play img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.topabout .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #ffffff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
0% {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
  opacity: 1;
}
100% {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
  opacity: 0;
}
}

.topabout .topabout-content {
  position: relative;
}

.topabout .topabout-text p {
  font-size: 16px;
}

.topabout .topabout-text a.btn {
  position: relative;
  margin-top: 15px;
}

@media (max-width: 991.98px) {
  .topabout .topabout-img {
      margin-bottom: 30px;
  }
}

.topabout-text ul{
  list-style: none;
}

.topabout-text ul li i{
  color: var(--brand);
}

.omni {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.omni .omni-img {
  position: relative;
}

.omni .omni-img img {
  position: relative;
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 991.98px) {
  .omni .omni-img {
      margin-bottom: 30px;
  }
}